* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  text-decoration: none;
  text-indent: 0;
  list-style-type: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #333;
  margin: 10px 0;
}

label {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #333;
}

input {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  color: #333;
}

textarea {
  font-family: "PT Mono", monospace;
  font-size: 1.1em;
  font-weight: 100;
  color: #333;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  font-weight: 1000;
  color: whitesmoke;
  text-align: right;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8em;
  font-weight: 1000;
  color: #333;
  padding: 4% 4% 0 4%;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #333;
}

.active {
  display: block;
}

#desktop, #mobile {
  background-color: #333;
  width: 20.825%;
  max-width: 300px;
  z-index: 50;
  position: sticky;
  float: left;
  top: 5;
  left: 0;
  font-family: "PT Mono", monospace;
  display: none;
}
#desktop .highlighted, #mobile .highlighted {
  background: orange;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}
#desktop ul a, #mobile ul a {
  text-decoration: none;
  color: white;
  display: inline;
}
#desktop ul a li, #mobile ul a li {
  text-align: left;
  padding: 20px;
}
#desktop ul a li:hover, #mobile ul a li:hover {
  background: yellow;
  color: black;
}

#mobile {
  width: 66.64%;
  max-width: 100%;
  position: absolute;
  top: 0;
  box-shadow: 8px 7px 15px black;
}

#hamburger {
  font-size: 2em;
  color: red;
  display: block;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 10px;
}

#hamburger:hover {
  color: blue;
}

header {
  background: #333;
  width: 100%;
  padding: 30px;
}

.section {
  background: lightgrey;
  padding-bottom: 25px;
}
.section .section__articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stetch;
}
.section .section__articles p {
  margin: 10px 0;
}
.section .section__articles .section__article--text {
  width: 100%;
  padding: 4%;
}
.section .section__articles .section__article--text p {
  padding: 10px 0;
}
.section .section__image {
  width: 100%;
  display: block;
  float: left;
  margin: 10px 0;
}
.section .section__image img {
  width: 100%;
  display: block;
  margin: auto;
}

.btn__link {
  width: 66.64%;
  padding: 15px 5px;
  background: #333;
  display: block;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px auto 0 auto;
}
.btn__link p {
  color: white;
  margin: auto;
  text-align: center;
  font-family: "PT Mono", monospace;
}

.btn__link:hover {
  background: red;
  color: blue;
}

.member__block {
  width: 100%;
  background: whitesmoke;
  margin: 5px 0;
  padding: 4%;
}
.member__block .member__text {
  float: right;
  display: block;
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
}
.member__block .member__block--field {
  margin: 10% 0;
  font-family: "Lexend Deca", sans-serif;
}
.member__block .member__block--field textarea {
  height: 90px;
}
.member__block .member__image {
  width: 33.32%;
  margin: auto;
  display: block;
}
.member__block .member__subscription {
  margin: 10% 0;
}
.member__block .member__subscription .member__radio {
  float: right;
}
.member__block .member__subscription .member__checkbox {
  float: right;
}
.member__block .member__payment {
  margin: 8% 0;
}
.member__block .member__payment .member__label {
  float: left;
  display: block;
  width: 100%;
}
.member__block .member__payment .member__text--mnth {
  width: 41.65%;
  float: left;
}
.member__block .member__payment .member__text--year {
  width: 41.65%;
  margin-left: 5px;
  float: left;
}
.member__block .member__payment .member__label--cvc {
  float: right;
  text-align: right;
  width: 100%;
}
.member__block .member__payment .member__text--cvc {
  float: right;
  width: 45.815%;
}
.member__block .btn__payment {
  width: 45.815%;
  padding: 4%;
  margin: 5px;
  background: grey;
  border-radius: 5px;
}
.member__block .btn__payment p {
  text-align: center;
}
.member__block .btn__payment:hover {
  background-color: darkslategrey;
  cursor: pointer;
  box-shadow: 4px 4px 10px #404040;
}
.member__block .btn__payment--active {
  background: darkslategrey;
  box-shadow: 4px 4px 10px #404040;
}
.member__block .btn__payment--active p {
  color: white;
}
.member__block .btn__card {
  float: left;
}
.member__block .btn__d-debit {
  float: right;
  display: block;
}
.member__block .btn__paypal {
  display: inline-block;
}
.member__block .member__payment--exp {
  float: left;
  width: 49.98%;
}
.member__block .member__submit--btn {
  width: 83.3%;
  padding: 10px 5px;
  background: #333;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 15px;
}
.member__block .member__submit--btn p {
  color: white;
  margin: auto;
  text-align: center;
  font-family: "PT Mono", monospace;
}
.member__block .member__submit--btn:hover {
  background: blue;
}
.member__block .member__submit--btn:hover p {
  color: black;
}
.member__block #selectable .ui-selected {
  background: #F39814;
  color: white;
}

.hidden {
  display: none;
}

.dialog {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.dialog h2 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 4%;
}
.dialog .confirmation__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 4px 4px 10px #404040;
}
.dialog .confirmation__content .confirmation__header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  /* The Close Button */
}
.dialog .confirmation__content .confirmation__header .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.dialog .confirmation__content .confirmation__header .close:hover, .dialog .confirmation__content .confirmation__header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.dialog .confirmation__content .confirmation__body {
  padding: 15px 16px;
  background: white;
}
.dialog .confirmation__content .confirmation__footer {
  padding: 15px 16px;
  background: #5cb85c;
}
.dialog .confirmation__content .confirmation__footer span {
  width: 66.64%;
  padding: 6px;
  background: white;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 15px;
}

.article__container {
  background: white;
  width: 83.3%;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 8px;
}
.article__container .article__container--btn {
  width: 16.66%;
  float: left;
  border-top: 2px solid black;
}
.article__container .article__container--btn .article__btn {
  margin-top: 30px;
  padding: 5px;
  background-color: black;
  display: block;
  text-align: center;
  margin-right: 5px;
  border-radius: 8px;
}
.article__container .article__container--btn .article__btn p {
  font-family: "PT Mono", monospace;
  color: white;
  margin: 0;
}
.article__container .article__container--btn .article__btn:hover {
  background: grey;
}
.article__container .article__container--btn .article__btn:hover p {
  color: #333;
}
.article__container .article__container--text {
  padding: 2%;
  width: 83.3%;
  float: left;
  border-top: 2px solid black;
}
.article__container .article__container--text p {
  margin: 0;
}
.article__container .article__container--image {
  height: 20vh;
}

.article__container:hover {
  box-shadow: 4px 4px 10px #404040;
}

#imageThreat {
  background-image: url("../assets/threats_dogOnShore.jpg");
  background-position: center;
  background-size: 100%;
}

.test {
  height: 15vh;
  background: darkslategrey;
  width: 15%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .section__articles .article__container {
    width: 45.815%;
  }
  .section__articles h1 {
    font-size: 2.5em;
  }

  .member__block {
    width: 49.98%;
    padding: 10px auto;
    margin: auto;
  }
  .member__block .btn__payment {
    width: 100%;
    margin: 8px auto;
  }
  .member__block .member__submit--btn {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .section__articles .article__container {
    width: 29.155%;
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
