* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  text-decoration: none;
  text-indent: 0;
  list-style-type: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #1c1c1c;
  margin: 10px 0;
  padding: 0 4%;
}

label {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #1c1c1c;
}

input {
  font-family: "PT Mono", monospace;
  font-size: 1.3em;
  font-weight: 100;
  color: #1c1c1c;
}

textarea {
  font-family: "PT Mono", monospace;
  font-size: 1.1em;
  font-weight: 100;
  color: #1c1c1c;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  font-weight: 1000;
  color: #fafafa;
  text-align: right;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8em;
  font-weight: 1000;
  color: #1c1c1c;
  padding: 0 4%;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #1c1c1c;
  padding: 0 4%;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #1c1c1c;
}

.active {
  display: block;
}

#desktop, #mobile {
  background-color: #135e56;
  width: 20.825%;
  max-width: 300px;
  z-index: 50;
  position: sticky;
  float: left;
  top: 25px;
  font-family: "PT Mono", monospace;
  display: none;
  box-shadow: 5px 6px 13px #404040;
}
#desktop .highlighted, #mobile .highlighted {
  background: #c78904;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}
#desktop ul a, #mobile ul a {
  text-decoration: none;
  color: #fafafa;
  display: inline;
}
#desktop ul a li, #mobile ul a li {
  text-align: left;
  padding: 20px;
}
#desktop ul a li:hover, #mobile ul a li:hover {
  background: #e38242;
  color: black;
}

#mobile {
  width: 66.64%;
  max-width: 100%;
  position: absolute;
  top: 0;
  box-shadow: 8px 7px 15px black;
}

#hamburger {
  font-size: 2em;
  color: red;
  display: block;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 10px;
}

#hamburger:hover {
  color: blue;
}

.page {
  min-height: 100vh;
  background: #62c3d9;
}

header {
  background: #004f6e;
  width: 100%;
  padding: 30px;
  display: fixed;
}

.section {
  padding: 0 0 25px 0;
  background: #d8ebf2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-right: auto;
}
.section a {
  color: #0378a6;
}

.section__articles p {
  margin: 10px 0;
}

.section__span {
  width: 100%;
}

.section__span--index {
  width: 100%;
}

.section__article--text {
  width: 100%;
  padding: 4%;
}
.section__article--text p {
  padding: 10px 0;
}

.section__image {
  width: 100%;
  display: block;
  float: left;
  margin: 10px 0;
}
.section__image img {
  width: 100%;
  display: block;
  margin: auto;
}

.btn__link {
  width: 66.64%;
  padding: 10px 5px;
  background: #c78904;
  display: block;
  cursor: pointer;
  border-radius: 15px;
  margin: 10px auto 10px auto;
}
.btn__link p {
  color: #1c1c1c;
  margin: auto;
  text-align: center;
  font-family: "PT Mono", monospace;
}

.btn__link:hover {
  background: #1c1c1c;
  color: blue;
}
.btn__link:hover p {
  color: #fafafa;
}

.hidden {
  display: none;
}

.article__container {
  background: white;
  width: 83.3%;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 8px;
}
.article__container a {
  text-decoration: none;
}

.article__container--btn {
  width: 16.66%;
  float: left;
  border-top: 2px solid black;
}
.article__container--btn .article__btn {
  margin-top: 35px;
  padding: 5px;
  background-color: #c78904;
  display: block;
  text-align: center;
  margin-right: 5px;
  border-radius: 8px;
}
.article__container--btn .article__btn p {
  font-family: "PT Mono", monospace;
  color: #1c1c1c;
  margin: 0;
}
.article__container--btn .article__btn:hover {
  background: #1c1c1c;
}
.article__container--btn .article__btn:hover p {
  color: #fafafa;
}

.article__container--text {
  padding: 2%;
  width: 83.3%;
  float: left;
  border-top: 2px solid black;
}
.article__container--text p {
  margin: 0;
}

.article__container--image {
  height: 20vh;
}

.article__container:hover {
  box-shadow: 4px 4px 10px #404040;
}

.article__section {
  background-color: #d8ebf2;
}

.article__image {
  width: 100%;
  display: block;
  float: left;
  margin: 10px 0;
}
.article__image img {
  width: 100%;
  display: block;
  margin: auto;
}

#imageThreat {
  background-image: url("../assets/threats_dogOnShore.jpg");
  background-position: center;
  background-size: 200%;
}

.member__block {
  width: 100%;
  margin: 5px 0;
  padding: 4%;
  align-self: stretch;
}
.member__block input[type=radio] {
  border: 0px;
  width: 55%;
  height: 1.25em;
}
.member__block input[type=checkbox] {
  border: 0px;
  width: 55%;
  height: 1.25em;
}

.member__field {
  width: 33.32%;
  float: left;
  padding: 4% 0;
}

.member__field--label {
  width: 66.64%;
  float: left;
  padding: 4% 0;
}

.member__text {
  float: right;
  display: block;
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
}

.member__subscription {
  width: 100%;
  float: left;
}

.member__block--field {
  margin: 10% 0;
}
.member__block--field textarea {
  height: 90px;
}

.member__image {
  width: 33.32%;
  margin: auto;
  display: block;
}

.member__subscription {
  margin: 10px 0;
}
.member__subscription .member__radio {
  float: right;
}
.member__subscription .member__checkbox {
  float: right;
}

.member__payment {
  margin: 8% 0;
}
.member__payment .member__label {
  float: left;
  display: block;
  width: 100%;
}
.member__payment .member__text--mnth {
  width: 41.65%;
  float: left;
}
.member__payment .member__text--year {
  width: 41.65%;
  margin-left: 5px;
  float: left;
}
.member__payment .member__label--cvc {
  float: right;
  text-align: right;
  width: 100%;
}
.member__payment .member__text--cvc {
  float: right;
  width: 45.815%;
}

.btn__payment {
  width: 45.815%;
  padding: 4%;
  margin: 5px;
  background: grey;
  border-radius: 5px;
}
.btn__payment p {
  text-align: center;
}

.btn__payment:hover {
  background-color: darkslategrey;
  cursor: pointer;
  box-shadow: 4px 4px 10px #404040;
}

.btn__payment--active {
  background: darkslategrey;
  box-shadow: 4px 4px 10px #404040;
}
.btn__payment--active p {
  color: white;
}

.btn__card {
  float: left;
  display: block;
}

.btn__d-debit {
  float: right;
  display: block;
}

.btn__paypal {
  display: inline-block;
}

.member__payment--exp {
  float: left;
  width: 49.98%;
}

.member__submit--btn {
  width: 83.3%;
  padding: 10px 5px;
  background: #333;
  display: block;
  margin: auto;
  cursor: pointer;
  border-radius: 15px;
}
.member__submit--btn p {
  color: white;
  margin: auto;
  text-align: center;
  font-family: "PT Mono", monospace;
}

.member__submit--btn:hover {
  background: blue;
}
.member__submit--btn:hover p {
  color: black;
}

#selectable .ui-selected {
  background: #F39814;
  color: white;
}

.member__block p {
  padding: 0;
}

.dialog {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Sit on top */
  padding-top: 10%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.dialog h2 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 4%;
}
.dialog .confirmation__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  box-shadow: 4px 4px 10px #404040;
}
.dialog .confirmation__content .confirmation__header {
  padding: 2px 16px;
  background-color: #004f6e;
  color: white;
  /* The Close Button */
}
.dialog .confirmation__content .confirmation__header .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.dialog .confirmation__content .confirmation__header .close:hover, .dialog .confirmation__content .confirmation__header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.dialog .confirmation__content .confirmation__body {
  padding: 10px 10px;
  background: white;
}
.dialog .confirmation__content .confirmation__footer {
  padding: 15px 16px;
  background: #004f6e;
}
.dialog .confirmation__content .confirmation__btn {
  width: 66.64%;
  padding: 6px;
  background: white;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 15px;
}
.dialog .confirmation__content .confirmation__btn:hover {
  background: #fff;
  text-decoration: none;
}

.test {
  height: 15vh;
  background: darkslategrey;
  width: 15%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .article__container {
    width: 45.815%;
  }

  h1 {
    font-size: 2.5em;
  }

  .member__block {
    width: 49.98%;
    margin: auto;
  }

  .btn__payment {
    width: 100%;
    float: none;
  }

  .member__submit--btn {
    margin: 0 auto;
  }

  .member__image {
    width: 49.98%;
  }

  .btn__link {
    max-width: 375px;
  }

  h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 2.1em;
  }

  .article__text--aside {
    width: 49.98%;
  }

  .article__image {
    width: 49.98%;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3em;
    text-align: center;
  }

  input {
    font-size: 1.5em;
  }

  .section__articles {
    max-width: 1050px;
    margin-left: auto;
  }
  .section__articles .article__container {
    width: 29.155%;
    max-width: 450px;
  }

  .section__span--index {
    width: 50%;
  }

  .article__container--text {
    width: 100%;
  }

  .article__container--btn {
    width: 100%;
    float: none;
    border: 0;
    margin: 10px auto;
    display: inline-block;
  }
  .article__container--btn .article__btn {
    width: 83.3%;
    margin: auto;
  }

  .section {
    width: 79.135%;
    margin-left: auto;
    min-height: 100vh;
  }

  .member__image {
    width: 66.64%;
  }

  .member__field {
    padding: 0 0;
  }

  .member__subscription {
    margin: 10px 0;
  }

  #exampleOfThreats {
    width: 83.3%;
  }

  #sedimentation {
    width: 66.64%;
  }

  #desktop, #mobile {
    display: block;
    margin-top: 10px;
  }

  #mobile {
    display: none;
  }

  .head__menu--container {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
