// Article and educational resource boxes
.article__container{
	background: white;
	width: 10*$col;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 8px;
	
	a{
		text-decoration: none;
	}
}

.article__container--btn{
	width: 2*$col;
	float: left;
	border-top: 2px solid black;
	
	.article__btn{
		margin-top: 35px;
		padding: 5px;
		background-color: $highLightColor;
		display: block;
		text-align: center;
		margin-right: 5px;
		border-radius: 8px;
		
		p{
			font-family: $emphasisFont;
			color: $fontDark;
			margin: 0;
		}
	}
	.article__btn:hover{
		background: $fontDark;
		
		p{
			color: $fontLight;
		}
	}
}

.article__container--text{
	padding: 0.5*$dPad;
	width: 10*$col;
	float: left;
	border-top: 2px solid black;
	
	p{
		margin: 0;
	}
}

.article__container--image{
	height: 20vh;
}

.article__container:hover{
	box-shadow: $shadow;
}

.article__section{
	background-color: $sectionColor;
}
.article__image{
		width: $spancol;
		display: block;
		float: left;
		margin: 10px 0;

		img{
			width: $spancol;
			display: block;
			margin: auto;
		}
	}