// @mixin div-background($bi, $bs, $bp, $br){
.img__container{
	width: 10*$col;
	height: 50vh;
	margin: auto;
}

#img1{
	background-image: url("../assets/boatShedWithDog.jpg");
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
}
#img2{
	background-image: url("../assets/rubbish.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
	#img1{
		background-size: 110%;
	}
}