// Sections
header{
	background: #333;
	width: $spancol;
	padding: 30px;
}
.section{
	background: $sectionColor;
	padding-bottom: 25px;

	.section__articles{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stetch;

		p{
			margin: 10px 0;
		}
		.section__article--text{
			width: $spancol;
			padding: $dPad;

			p{
				padding: 10px 0;
			}
		}
	}
	.section__image{
		width: $spancol;
		display: block;
		float: left;
		margin: 10px 0;

		img{
			width: $spancol;
			display: block;
			margin: auto;
		}
	}
}


// Generic buttons
.btn__link{
	width: 8*$col;
	padding: 15px 5px;
	background: #333;
	display: block;
	cursor: pointer;
	border-radius: 15px;
	margin: 10px auto 0 auto;
	p{
		color: white;
		margin: auto;
		text-align: center;
		font-family: $emphasisFont;
	}
}
.btn__link:hover{
	background: red;
	color: blue;
}
