// Sections
.page{
	min-height: 100vh;
	// overflow: auto;
	background: $siteBack;
}

header{
	background: $primaryColor;
	width: $spancol;
	padding: 30px;
	display: fixed;
}
.section{	
	padding: 0 0 25px 0;
	background: $sectionColor;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	margin-right: auto;

	a{
		color: $linkColor;
	}
}
.section__articles{
	

	p{
		margin: 10px 0;
		// padding: 0;
	}
}
.section__span{
	width: 100%;
}
.section__span--index{
	width: 100%;
}
.section__article--text{
	width: $spancol;
	padding: $dPad;
	p{
		padding: 10px 0;
	}
}
	.section__image{
		width: $spancol;
		display: block;
		float: left;
		margin: 10px 0;

		img{
			width: $spancol;
			display: block;
			margin: auto;
		}
	}


// Generic buttons
.btn__link{
	width: 8*$col;
	padding: 10px 5px;
	background: $highLightColor;
	display: block;
	cursor: pointer;
	border-radius: 15px;
	margin: 10px auto 10px auto;
	p{
		color: $fontDark;
		margin: auto;
		text-align: center;
		font-family: $emphasisFont;
	}
}
.btn__link:hover{
	background: $fontDark;
	color: blue;

	p{
		color: $fontLight;
	}
}

.hidden{
	display: none;
}