// Tablet mode
@media only screen and (min-width: 768px) {
	
	
	.article__container{
		width: 5.5*$col;
	}
	h1{
		font-size: 2.5em;
	}
	.member__block{
		width: 6*$col;
		margin: auto;
	}
	.btn__payment{
		width: $spancol;
		float: none;
		// margin: 8px auto;
	}
	.member__submit--btn{
		margin: 0 auto;
	}
	.member__image{
		width: 6*$col;
	}
	.btn__link{
		max-width: 375px;
	}
	h2{
		padding-top: 25px;
		text-align: center;
		font-size: 2.1em;
	}

	.btn__card{
		float: none;
		margin: 10px auto;
	}

	.btn__d-debit{
		float: none;
		margin: 10px auto;
	}

	.btn__paypal{
		float: none;
		margin: 10px auto;
		display: block;
	}

	// Internal article styling
	.article__block{

		.article__text{

		}
	}
	.article__text--aside{
		width: 6*$col;
	}
	.article__image{
		width: 6*$col;
	}

	#hamburger{
		font-size: 4em;
	}
	.column {
  	  flex: 6*$col;
  	  max-width: 6*$col;
  	}
	.column__mobile{
		display: block;
	}


}

// Desktop Mode
@media only screen and (min-width: 1024px) {
	header{
		position: relative;
	}
	h1{
		font-size: 3em;
		text-align: center;
	}
	input{
		font-size: 1.5em;
	}

	.section__articles{
		max-width: 1150px;
		margin-left: auto;

		.article__container{
			width: 3.5*$col;
			max-width: 450px;
		}
	}
	.section__span--index{
		width: 50%;
	}
	.article__container--text{
		width: $spancol;
	}
	.article__container--btn{
		width: $spancol;
		float: none;
		border: 0;
		margin: 10px auto;
		display: inline-block;

		.article__btn{
			width: 10*$col;
			margin: auto;
		}
	}
	.section{
		width: 9.5*$col;
		margin-left: auto;
	}
	.section__article--text{
		padding: 0 $dPad;
	}

	.member__image{
		width: 8*$col;
	}
	.member__field{
		padding: 0 0;
	}
	.member__subscription{
		margin: 10px 0;
	}
	
	// Article-images
	#exampleOfThreats{
		width: 10*$col;
	}
	#sedimentation{
		width: 8*$col;
	}
	// Navigation
	#desktop{
		display: block;
		margin-top: 10px;
	}
	#mobile{
		display: none;
	}
	.head__menu--container{
		display: none;
	}
	.img__container{
		max-width: 850px;
	}

	// Responsive gallery
	.column {
  	  flex: 4*$col;
  	  max-width: 4*$col;
  	}
  	.column__tablet{
  		display: block;
  	}
  	.gallery__resize{
  		margin: 25px;
  		border-radius: 15px;
  		box-shadow: $galleryShadow;
  	}
  	.section__clean-up{
  		width: 10*$col;
  		margin: auto;
  		border-radius: 10px;
  	}
  	.section__clean-up:hover{
  		box-shadow: $sectionShadow;
  	}

}
@media only screen and (min-width: 1500px) {
	#desktop{
		margin-left: 0.5*$dPad;
	}
}