.member__block{
	width: $spancol;
	background: whitesmoke;
	margin: 5px 0;
	padding: $dPad;
	align-self: stretch;
}

.member__text{
	float: right;
	display: block;
	width: $spancol;
	margin: 5px 0;
	border: 1px solid black;
	border-radius: 5px;
	background-color: lightgrey;
}

.member__block--field{
	margin: 2.5*$dMar 0;

	textarea{
		height: 90px;
	}
}

.member__image{
	width: 4*$col;
	margin: auto;
	display: block;
}

// -------- Subscription and activites
.member__subscription{
	margin: 2.5*$dMar 0;

	.member__radio{
		float: right;
	}

	.member__checkbox{
		float: right;
	}
}

.member__payment{
	margin: 2*$dMar 0;

	.member__label{
		float: left;
		display: block;
		width: $spancol;
	}

	.member__text--mnth{
		width: 5*$col;
		float: left;
	}

	.member__text--year{
		width: 5*$col;
		margin-left: 5px;
		float: left;
	}

	.member__label--cvc{
		float: right;
		text-align: right;
		width: $spancol;
	}

	.member__text--cvc{
		float: right;
		width: 5.5*$col;
	}
}

.btn__payment{
	width: 5.5*$col;
	padding: $dPad;
	margin: 5px;
	background: grey;
	border-radius: 5px;
	p{
		text-align: center;
	}
}

.btn__payment:hover{
	background-color: darkslategrey;
	cursor: pointer;
	box-shadow: $shadow;
}

.btn__payment--active{
	background: darkslategrey;
	box-shadow: $shadow;
	p{
		color: white;
	}
}

.btn__card{
	float: left;
	display: block;
}

.btn__d-debit{
	float: right;
	display: block;
}

.btn__paypal{
	display: inline-block;
}

.member__payment--exp{
	float: left;
	width: 6*$col;
}

.member__submit--btn{
	width: 10*$col;
	padding: 10px 5px;
	background: #333;
	display: block;
	margin: auto;
	cursor: pointer;
	border-radius: 15px;

	p{
		color: white;
		margin: auto;
		text-align: center;
		font-family: $emphasisFont;
	}
}

.member__submit--btn:hover{
	background: blue;
	
	p{
		color: black;
	}
}

#selectable .ui-selected{ 
	background: #F39814; 
	color: white;
}
		
.member__block{

	p{
		padding: 0;
	}
}

// Pop up confirmation box
.dialog{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99; /* Sit on top */
	padding-top: 10%; /* Location of the box */
	left: 0;
	top: 0;
	width: $spancol; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	h2{
		color: white;
		font-size: 1.3em;
		margin-bottom: $dPad;
	}

	.confirmation__content{
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 80%;
		max-width: 500px;
		box-shadow: $shadow;

		.confirmation__header{
			padding: 2px 16px;
			background-color: #5cb85c;
			color: white;

			/* The Close Button */
			.close {
				color: white;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			.close:hover, .close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
		}

		.confirmation__body{
			padding: 10px 10px;
			background: white;
		}
		
		.confirmation__footer{
			padding: 15px 16px;
			background: #5cb85c;

		}

		.confirmation__btn{
			width: 8*$col;
			padding: 6px;
			background: white;
			display: block;
			text-align: center;
			margin: auto;
			border-radius: 15px;
		}
		.confirmation__btn:hover{
			background: #fff;
			text-decoration: none;
			// cursor: pointer;
		}
	}
}