// font-family, font-size, font-weight, font-color
@mixin text-style($ff, $fs, $fw, $fc){
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	color: $fc;
}

// images for div backgrounds
@mixin div-background($bi, $bs, $bp, $br){
	background-image: $bi;
	background-size: $bs;
	background-position: $bp;
	background-repeat: $br;
}