.active{
	display: block;
}

#desktop{
	background-color: $navBackColor;
	width: 2.5*$col;
	max-width: 300px;
	z-index: 50;
	position: sticky;
	float: left;
	top: 25px;
	font-family: $emphasisFont;
	display: none;
	box-shadow: $navShadow;
	border-radius: 10px;

	.highlighted{
	background: $highLightColor;
	padding: 10px;
	margin-bottom: 15px;
	text-align: center;
	}
	.nav__active{
		color: $fontDark;

		li{
			background-color: $fontLight;
		}
		.index{
			border-radius: 10px 10px 0 0;
		}
	}

	ul{
		a{
			text-decoration: none;
			color: $fontLight;
			display: inline;

			li{
				text-align: left;
				padding: 20px;	
			}

			li:hover{
				background: $navHoverColor;
				color: black;
			}
		}	
	}
}


#mobile{
	@extend #desktop;
	width: 8*$col;
	position: absolute;
	border-radius: 0;
	top: 0;
	box-shadow: $navShadow;

	.close__container{
		width: $spancol;
		float: left;

	}
}

#hamburger{
	font-size: 2em;
	color: $highLightColor;
	display: block;
	float: left;
	cursor: pointer;
	position: absolute;
	top: 25px;
	left: 10px;
}
#closeMenu{
	color: $fontLight;
	font-size: 3em;
	font-weight: bold;
	display: block;
	margin: 15px;
}
#hamburger:hover{
	color: $fontDark;
}
#closeMenu:hover{
	color: $fontDark;
	text-decoration: none;
	cursor: pointer;
}
