*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		text-decoration: none;
		text-indent: 0;
		list-style-type: 0;
		padding: 0;
	}
}


.test{
	height: 15vh;
	background: darkslategrey;
	width: 15%;
	margin: auto;
}