.test{
	height: 15vh;
	background: darkslategrey;
	width: 15%;
	margin: auto;
}

.member__submit--btn{
	height: 50px;
	width: 150px;
	padding: auto;
	background: #333;
	display: block;
	p{
		color: white;
		margin: auto;
	}
}
.center-verticle{
	display: flex;
	align-self: auto;
	align-items: center;
	background: red;
}