// mixin for type: font-family, font-size, font-weight, font-color
p{
	@include text-style($paraFont, 1em, 400, #333);
	margin: 10px 0;
}

label{
	@include text-style($paraFont, 1.1em, 500, #333);
}
h1{
	@include text-style($headingFont, 1.5em, 1000, whitesmoke);
	text-align: right;
}
h2{
	@include text-style($headingFont, 1.5em, 600, #333);
	padding: $dPad;
}
h3{
	@include text-style($headingFont, 1.2em, 600, #333);
}
h4{
	@include text-style($headingFont, 1.2em, 500, #333);
}
