// Sizes
$col: 8.33%;
$spancol: 100%;
$galleryCarHeight: 50vh;

// layout
$dMar: 4%;
$dPad: 4%;

// fonts
$paraFont: 'Lexend Deca', sans-serif;
$headingFont: 'Nunito', sans-serif;
$emphasisFont: 'PT Mono', monospace;

// colors
$linkColor: #ffbb00;
$primaryColor: #004f6e;
$fontDark: #303030;
$fontLight: #fafafa;
$highLightColor: #c78904;
//--- colours sections
$siteBack: #62c3d9;
$sectionColor: #d8ebf2;
$articleColor: white;
// navigation
$navBackColor: #135e56;
$navHoverColor: #e38242;

// Shadows
$shadow: 4px 4px 10px #404040;
$navShadow: 2px 2px 13px #404040;
$sectionShadow: 2px 1px 10px #3d3d3d;
$galleryShadow: 3px 3px 3px #8f8f8f;