// Sizes
$col: 8.33%;
$spancol: 100%;

// layout
$dMar: 4%;
$dPad: 4%;

// fonts
$paraFont: 'Lexend Deca', sans-serif;
$headingFont: 'Nunito', sans-serif;
$emphasisFont: 'PT Mono', monospace;

// colours
$sectionColor: lightgrey;
$articleColor: white;

$shadow: 4px 4px 10px #404040;